.deal-details-main {
  margin: 50px 60px 200px 60px;
  display: flex;
  flex-direction: column;
}

.deal-details-tophalf {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px 0px 100px 50px;
}

.deal-details-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
    margin-bottom: 50px;
    justify-content: space-between;
}
.deal-details-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.deal-details-item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
    gap: 5px;
}

.deal-details-title {
    font: 25px solid black;
    font-weight: bold;
}

.deal-details-value {
    font: 20px black;
}


.deal-details-img {
  width: 450px;
  height: 500px;
  border: 5px solid black;
}

.deal-details-executive-summary {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    gap: 15px;
}

.executive-summary-title {
    font-size: 50px;
    border-bottom: 1px solid black;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.executive-summary-value {
    font-size: 23px;
}
.deal-detail-map {
    width: 25%;
    height: 500px;
    margin-right: 200px; 
    border: 1px solid black;

}

.img-and-information {
    display: flex;
    flex-direction: row;
    gap: 50px;
    
}