.parent-container {
    position: relative; 
    display: inline-block;  
}

.parent-container {
    position: relative; 
  }
  
  .settings-button {
    cursor: pointer; 
    z-index: 11; 
    position: relative; 
  }
  
  .dropup-menu {
    position: absolute;
    left: -210px;
    bottom: 0;  
    width: 200px; 
    background-color: white;
    z-index: 10;
    opacity: 0; 
    transform: translateX(50%);
    transition: transform .7s ease-out, opacity .7s ease-out; 
    display: flex;
  }
  
  .dropup-menu.show {
    transform: translateX(0); 
    opacity: 1; 
  }

.edit-deal {
    background-color: white;
    color: blue; 
    height: 50px;
    width: 100px;
    border: 0;
    font-size: 20px;
}
.delete-deal {
    background-color: white;
    color: red;
    height: 50px;
    width: 200px;
    border: 0;
    font-size: 20px;
}

.edit-deal:hover {
    opacity: .4;
    cursor: pointer;
}

.delete-deal:hover {
    opacity: .4;
    cursor: pointer;
}
.settings-button {
    background-color: white;
    border: none;
}

.settings-button:hover {
    cursor: pointer;
}