body, html {
    margin: 0;
    padding: 0;
    width: 100%;
}

.nav-bar {
    display: flex;
    align-items: center;
    background-color: black;
    color: white;
    width: 100vw;
    height: 50px;
    margin: 0px 0px 0px 0px;
    position: sticky;
    top: 0;
    z-index: 1000;;

}
.nav-bar-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin: 0px 80px 0px 80px;  
}
.nav-bar a {
    text-decoration: none;
}
.nav-bar :visited {
    color: white;
}
.nav-bar :hover {
    color: rgb(177, 164, 164);
}

.nav-element {
    width: fit-content;
}

.navbar-container {
    display: flex;
    flex-direction: row;
    gap: 40px;
    margin-left: 40px;
}

.nav-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: black;
  }
  
