.dashboard-main {
    margin: 100px 100px 200px 100px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.welcome-message {
    font-size: 40px;
    font-weight: bold;
}

.welcome-message-container {
    display: flex;
    justify-content: center;
}

.dashboard-description {
    font-size: 30px;
}

.dashboard-tophalf {
    height: 15%;
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
    border-bottom: 1px solid black;
}

.dashboard-bottomhalf {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 50px;
}

.lowest-loanamounts {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.bottomhalf-title {
    font-size: 25px;
    font-weight: bold;
}

.bottomhalf-value {
    display: flex;
    flex-direction: row;
    gap: 20px;
    overflow-x: auto;
}

.dashboard-deal-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
}