.deal-list {
    margin: 60px 100px 0px 100px;
}

.deal-list a {
    text-decoration: none;
}

.deal-list :visited {
    color: black;
}

.deal-item {
    width: 100%; /* Grid will handle sizing */
    max-width: 350px; /* Limit max width to maintain structure */
}

.deal-image-container {
    position: relative;
    width: 100%;
    max-width: 350px; /* Image width */
}

.deal-list-img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.deal-info-box {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Dark background */
    color: white;
    box-sizing: border-box;
    transition: height 0.3s ease; /* Smooth transition on hover */
    height: 125px; 
    overflow: hidden; 
    padding: 0px 1px 0px 15px;
}

.deal-summary {
    display: flex;
    flex-direction: column;
    
}

.deal-name {
    font-size: 28px;
 } 

.deal-address, .deal-loan-amount {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
}

.deal-details {
    display: none; 
    margin-top: 10px;
}

.deal-image-container:hover .deal-info-box {
    height: 190px; 
}

.deal-image-container:hover .deal-details {
    display: block; 
}

.deal-info-box div {
    margin: 5px 0;
}

.deal-list-elements {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); 
    gap: 40px; 
    margin: 0 50px; 
}


@media (max-width: 1200px) {
    .deal-list-elements {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 15px;
    }
}

@media (max-width: 768px) {
    .deal-list-elements {
        grid-template-columns: repeat(2, 1fr); 
        margin: 0 20px; 
    }
}

@media (max-width: 480px) {
    .deal-list-elements {
        grid-template-columns: 1fr; 
    }
}